<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
	<div class="container">
		<h1>Tambahkan Berita</h1>
		<br>
		<form method="POST" action="/addberita" enctype="multipart/form-data">

			<div class="mb-3">
				<label for="file" class="form-label">Gambar</label>
				<!-- <input type="file" name="upload" class="form-control" /></td></tr> -->
				<input type="file" name="filetoupload" class="form-control" /></td></tr>
			</div>

			<div class="mb-3">
				<label for="nama" class="form-label">Nama</label>
				<input type="text" class="form-control" name="nama" id="nama" placeholder="Nama">
			</div>
			<div class="mb-3">
				<label for="isi" class="form-label">Isi</label>
				<textarea id="isi"class="form-control"  name="isi" rows="5" cols="100"></textarea>
			</div>
			
		
			</div>			
			<a href="/berita" class="btn btn-primary">Batal</a>
			&nbsp;
			<button type="submit" class="btn btn-success">Simpan</button>
			
		</form>

	</div>


</body>

</html>