
    <%- include('templates/header')-%>
<center>
    <h1 style="
    color: blue;
    font-family: monospace;
">Bootcamp Node.js</h1>
    <br>
    <p>Welcome to My Project Mandiri</p>
</center>
    <%- include('templates/footer')-%>
 